@import "info";

* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  .nav {
    @include nav();
  }
  .about-heading {
    background: url("../images/bg1.jpg");
    background-position: center;
    background-size: cover;
    margin-right: 5%;
    margin-left: 5%;
    height: 75vh;
    padding: 7% 5%;
    text-align: center;
    @include h1();
    @include p();
    h1 {
      color: white;
    }
    p {
      width: 80%;
      margin: 0 auto;
      color: white;
    }
  }
  .gallery {
    padding: 5% 5%;
    padding-top: 5%;
    .gallery-heading {
      text-align: center;
      @include h1();
      @include p();

      p {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 5%;
      }
    }
    .gallery-image {
      .type1 {
        display: flex;
        justify-content: space-between;
        .img {
          width: 13rem;
          height: 10rem;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
      .type2 {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
        margin-bottom: 2rem;
        .img {
          width: 13rem;
          height: 17rem;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .chef {
    margin-bottom: 2%;
    .chef-heading {
      text-align: center;
      @include h1();
      @include p();
      p {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 5%;
      }
    }
    .chefs-details {
      @include h3();
      @include p();
      p {
        margin-bottom: 0;
      }
      display: flex;
      justify-content: space-between;
      padding: 0 10%;
      .chef {
        text-align: center;
        padding:3% 3%;
        box-shadow: 5px 5px 15px 3px #818181;
        .chef-image {
          width: 14rem;
          height: 18rem;
          margin-bottom: 1rem;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  .contact {
    @include padding();
    width: 100%;
    background-color: #292929;
    .background {
      display: flex;
      align-items: center;
      width: 100%;
      height: 60vh;
      background-image: url("../images/map.png");
      .contact-card {
        background: rgba(0, 0, 0, .9);
        padding: 2rem 1rem;
        width: 15rem;

        margin-left: 50rem;
        .heading-icon {
          margin-bottom: 3rem;
        }
        @include p();
        p {
          margin-bottom: auto;
          color: #b0b0b0;
          font-size: .9rem;
        }
        @include h3();
        h3 {
          color: white;
        }
        .icon {
          display: flex;
          text-align: center;
        }
      }
    }

    #Layer_1 {
      fill: purple;
      stroke: purple;
      stroke-width: 3px;
    }
    svg {
      height: 2rem;
      width: 2rem;
      margin-right: .5rem;
    }
  }
}