@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  position: relative;
  height: 100vh;
}

body .nav {
  z-index: 100;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #818181;
  padding: 0 10%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Poppins", sans-serif;
  width: 100%;
}

body .nav ul {
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 55%;
  text-transform: uppercase;
}

body .nav ul .active {
  color: purple;
}

body .nav ul a {
  color: #B9f1da;
  -webkit-transition: .3s;
  transition: .3s;
}

body .nav ul a:hover {
  color: purple;
}

body .nav .reserve a button {
  border: none;
  background-color: purple;
  padding: .3rem 1rem;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: .9rem;
  font-weight: 500;
  color: white;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

body .nav .reserve a button:hover {
  background-color: white;
  color: purple;
}

body .nav .reserve h1 {
  font-family: "Cinzel", serif;
  color: #B9f1da;
  -webkit-transition: .5s;
  transition: .5s;
}

body .nav .reserve h1 h1 {
  font-family: "Cinzel", serif;
  font-size: 3.5rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

body .nav .reserve h1:hover {
  color: purple;
}

body .reservation-heading {
  padding: 7% 5%;
  width: 100%;
  text-align: center;
}

body .reservation-heading h1 {
  font-family: "Cinzel", serif;
  font-size: 3.5rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

body .reservation-heading p {
  font-family: "Poppins", sans-serif;
  color: gray;
  margin-bottom: 2rem;
}

body .reservation-heading p {
  text-transform: capitalize;
}

body .check-btn {
  position: absolute;
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

body .check-btn button {
  display: block;
  text-transform: uppercase;
  cursor: pointer;
  padding: .5rem 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  border: none;
  color: white;
  -webkit-transition: all .4s;
  transition: all .4s;
  background-color: purple;
}

body .check-btn button:hover {
  background-color: #c100c1;
}

body .check-btn button {
  padding: 0 0;
  width: 20rem;
  height: 3rem;
  text-align: center;
}
/*# sourceMappingURL=reservations.css.map */